html
{ 
background-image: url("10blue-jeans-textur-hintergrund-pale-denim-mode_640221-225.jpg");
}

body
{
	width: 900px;
	max-width: 90%;
	
	margin: 0 auto;
	
}

h1
{
text-align: center;	
}

h2
{
text-align: center;	
}

p
{
	text-align: center;	
}
